body{
    background-color: rgb(254, 243, 229);
    font-family: sans-serif;
}
#container{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 251, 246);
    padding: 30px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.city{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 30px 0 ;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
}
.city:last-child{
    border: none
}
h2{
    margin: 0 0 5px;
    font-size: 28px;
}
.date{
    opacity: 0.7;
}
.time{
    font-size: 48px;
    font-weight: bold;
}
.time small{
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;

}
select{
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

h1{
    text-align: center;
    font-family: sans-serif;
}
footer{
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}
a{
    color: rgb(114, 15, 31);
}